*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 180px;
}

footer {
    padding: 9px;
    text-align: center;
    height: 80px;
    background-color: #FFB000;   
}

.boxIcon {
    margin-right: 3vw;
    padding: 9px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*icones das redes sociais (está dentro do footer)*/
.icon {
    width: 30px;
}

/*Categorias do site*/
nav { 
    padding: 9px;
    display: flex;
    justify-content: space-evenly; 
    background-color: rgb(252, 252, 252); 
}

/*Removendo o estilo do ul (aquele ponto ao lado)*/
nav ul {
    list-style: none;
}

/*Estilando os botões, mas só vai ser ativado com o hover*/
nav ul a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 19px;
    transition: 0.2s;
    padding: 4px;
    border-radius: 4px;
}

/*Ativador do estilo*/
nav a:hover {
    background-color: #FFB000;
}

/*Consta o botão início, cadastro, login e a logo*/
.linksInicio {
    padding: 9px;
    display: flex;
    justify-content: space-between;
    background-color: #FFB000;   
    align-items: center;
    color: aliceblue;
}


/*Remove os estilos das listas desordenadas do div linksInicio*/
.linksInicio ul {
    list-style: none;
}

/*Mexe no estilo dos botões clicavéis inicio, cadastro e login*/
.linksInicio li a {
    color: #000000;
    font-weight: bolder;
    text-decoration: none;
    font-size: 19px;
    transition: 0.2s;
    padding: 4px;
    border-radius: 4px;
}

/*Permite que ao passar o cursor do mouse os botões clicavéis sejam alterado*/
.linksInicio a:hover {
    background-color: #ffffff;;
}

#logo {
    border-radius: 50%; 
    height: 130px;
}

/*bloco de noticia com o bloco aside */
section {
    display: flex;
}

.delimitacaoContainer {
    height: 100%;
    flex: 1; /*Como será posicionado*/
}

/*Local onde vai alocar os icones das noticias*/
.container {
    padding: 9px;
    width: 80vw;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;   
}

/*icones das noticias e como o titulo e a imagem vão se comportar dentro dessa box*/
.box {
    margin-right: 30px;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column-reverse;
}

.box a {
    text-decoration: none;
    color: #000000;
    text-align: center;
}

.box:hover {
    opacity: 95%;
}

/*Ioan================================================*/
#noticia1 {
    background-color: black;
    height: 300px;
    width: 300px;
    background-image: url('gato.webp');
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

#noticia2 {
    background-color: black;
    height: 300px;
    width: 300px;
    background-image: url('jack.jpeg');
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

#noticia3 {
    background-color: black;
    height: 300px;
    width: 300px;
    background-image: url('selana.webp');
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

#noticia4 {
    background-color: black;
    height: 300px;
    width: 300px;
    background-image: url('taylor.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

#noticia5 {
    background-color: black;
    height: 300px;
    width: 300px;
    background-image: url('retrato.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

#noticia6 {
    background-color: black;
    height: 300px;
    width: 300px;
    background-image: url('twd.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

#noticia7 {
    background-color: black;
    height: 300px;
    width: 300px;
    background-image: url('serio.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

#noticia8 {
    background-color: black;
    height: 300px;
    width: 300px;
    background-image: url('estatisica.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

#noticia9 {
    background-color: black;
    height: 300px;
    width: 300px;
    background-image: url('literalmente.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

#noticia10 {
    background-color: black;
    height: 300px;
    width: 300px;
    background-image: url('a\ manchete.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

#noticia11 {
    background-color: black;
    height: 300px;
    width: 300px;
    background-image: url('protesto.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

#noticia12 {
    background-color: black;
    height: 300px;
    width: 300px;
    background-image: url('morte.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

#noticia13 {
    background-color: black;
    height: 300px;
    width: 300px;
    background-image: url('paranaue.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

/*Logo que está alocado a noticia*/
.containerNoticia {
    margin-left: 20vw;
    margin-right: 20vw;
    width: 100vw;
    height: 100%;
    flex-wrap: wrap; 

}

/*Como a noticia vai se comportar mediante seu container*/
.boxNoticia {
    height: 100%;
    text-align: center;
    padding: 10px;
    padding-top: 40px;
    
}

.tituloHotNews {
    text-align: center;
}
/*Ioan================================================*/



/*As noticias (Hot News e Veja isso) dentro do aside*/
.boxHotNews {
    border-radius: 3px;
    border: 1px solid rgb(144, 144, 144);
    padding: 9px;
    margin-right: 3vw;
    margin-top: 30px;
    margin-bottom: 10px;
    flex-wrap: wrap; 
    text-align: center;    
}

.noticiaHot1 {
    margin: auto;
    background-color: rgb(0, 0, 0);
    height: 200px;
    width: 10vw;
    background-image: url('ganhadorLoteria.png');
    background-position: center;
    background-size: cover; 
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.noticiaHot2 {
    margin: auto;
    background-color: rgb(0, 0, 0);
    height: 200px;
    width: 10vw;
    background-image: url('a\ gente\ desc.jpg');
    background-position: center;
    background-size: cover; 
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.noticiaHot3 {
    margin: auto;
    background-color: rgb(0, 0, 0);
    height: 200px;
    width: 10vw;
    background-image: url('coerencia.jpg');
    background-position: center;
    background-size: cover; 
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.noticiaHot4 {
    margin: auto;
    background-color: rgb(0, 0, 0);
    height: 200px;
    width: 10vw;
    background-image: url('nada\ bom.jpg');
    background-position: center;
    background-size: cover; 
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.noticiaHot5 {
    margin: auto;
    background-color: rgb(0, 0, 0);
    height: 200px;
    width: 10vw;
    background-image: url('boa\ noticia.jpg');
    background-position: center;
    background-size: cover; 
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.noticiaHot6 {
    margin: auto;
    background-color: rgb(0, 0, 0);
    height: 200px;
    width: 10vw;
    background-image: url('apenas\ um.webp');
    background-position: center;
    background-size: cover; 
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.noticiaHot7 {
    margin: auto;
    background-color: rgb(0, 0, 0);
    height: 200px;
    width: 10vw;
    background-image: url('roarrr.jpg');
    background-position: center;
    background-size: cover; 
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

/*Linha estética no aside*/
.linha {
    margin: auto;
    width: 8vw;
    height: 1px;
    background-color: rgba(134, 134, 134, 0.6); 
}

/*título da noticia*/
.h1 {
    font-size: 60px;
}

/*sub-título da noticia*/
.h5 {
    font-size: 20px;
}

/*corpo escrito da noticia*/
.p {
    font-size: 20px;
}

/*designer do formulário*/
.formDesign {
    margin: auto;
    min-width: 500px;
    max-width: 600px;
    background-color: rgba(255, 251, 244, 0.9);
    padding: 15px;
    border-radius: 3px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

label {
    font-size: 25px;
}

.enviarFofocas {
    text-align: center;
    height: 100vh;
}

.containerVideo {
    padding-top: 10px;
    padding-left: 10%;
}

#boxVideo {
    width: 95vw;
    height: 100vh;
    border-radius: 20px;
}


/*Steph isso é o CSS do relógio*/
.relogio {
    padding: 9px;
    display: flex;
    justify-content: center;
    height: 20px;
    width: 550px;
    margin: auto;
}

.relogio div {
    font-weight: bold;
    height: 40px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
    letter-spacing: 3px;
    
}


/**/